{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="{% static 'styles/web.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">

</head>
<body class="base-bg">
    <nav class="navbar navbar-expand-lg">
        <span class="navbar-brand eat-nav-title">Exploratory Analysis Tool</span>
        <div class="col-4 align-self-end" >
            <form class="form-inline " method="post" id="upload_form" encType="multipart/form-data">
                {% csrf_token %}
                <input class="file-input-box" type="file" name="{{ upload_form.file_field.html_name }}" id="upload_box" multiple/>
                <label class="file-input-label" for="upload_box">Upload Dataset</label>
                <button type="submit">Submit</button>
            </form>
        </div>
    </nav>
    <svg width="1200" height="900"></svg>

<input hidden value="{{ json_file_url }}" id="json-url">
{{ form_error }}
</body>

<script type="text/javascript" src="{% static 'scripts/graph.js' %}"></script>
</html>