.base-bg {
    background-image: url("../images/home-background.svg");
    background-color: #0F1847;
}
.navbar.navbar-expand-lg.eat-bar{
    background-color: #102136;
    border-bottom-color: #3f62b8;
    border-bottom-width: 1px;
}
span.navbar-brand.eat-nav-title{
    color: white;
}
.file-input-box{
    width: 0.01px;
	height: 0.01px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file-input-label{
    color: white;
    cursor: pointer;
}